h1{
    color: blue;
}
.sec1{
    height: 22%;
    width: 25%;
    position: relative;
    padding: 5px;
    display: inline-flex;
    background-color:none;
    text-decoration: dotted;
    /* padding-left: 20px; */
    text-align: justify;
    border-radius: 5px;
    /* transform: translate(-50%,-50%); */
}
.mojii{
    height: 100%;
    width: 100%;
    padding: 1px;
}
.sec1 a{
    color: aqua;
    background: crimson;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.sec1 a:hover {
    color: crimson;
    background: steelblue;
    opacity: 0.8s;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;

}
.cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 2px;

}
.sec1:hover .overlay{
    opacity: 0.8;
}