.commonname {
    font-size: 20px !important;
    font-family: fantasy;
    color: #250d81;
  }
  
  .commonname h3 {
    font-size: 40px !important;
  }
  
  .name1 h3 {
    font-size: 36px;
    font-family: fantasy;
    padding-bottom: 10px;
  }
  
  .name1 h5 {
    font-size: 20px;
    font-family: fantasy;
    padding-bottom: 10px;
  }
  