.invalid {
    border:1px solid rgb(197, 161, 161) !important;
   }
   input, textarea {
    outline: none !important;
    box-shadow: none !important; 
  }

  form.registerform {
    text-align: left;
  }

  .text-secondary {
    font-family: fantasy;
    background-color: black;
    color: white!important;
    margin-bottom: 10px;
    padding-bottom: 15px;
    letter-spacing: 1px;
  }

  #dropdown1 {
    margin-left: 10px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }

  #dropdown2 {
    text-align: center;
    margin-left: 12px;
  }

  #password1 {
    margin-left: 5px;
  }

  .shadow{
    box-shadow: 0 0.5rem 1rem !important;
   margin-bottom: 60px;
  }  

  .register {
    text-align: center;
  }

  .btn-primary {
    background-color: #033783;
    border-color: #033783;
    font-family: serif;
  }

  div.container1 {
    overflow:hidden;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
   
    background: #9CECFB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  
  }
  .col-sm-6{
    background-color: rgba(247, 247, 240, 0.84);
    color: black;
  }
  .registerform .form-control{
    background-color: rgb(248, 248, 236);
    color: black;
  }
  #dropdown1{
    background-color: rgb(248, 248, 236);
  }
  #dropdown2{
    background-color: rgb(248, 248, 236);
  }