.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(193, 250, 243);
    position: sticky;
    top: 50px;
}
.sidebarListItemRound{
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid rgb(141, 204, 224);
}
.sidebarWrapper{
    padding: 20px;
    color: rgb(53, 44, 44);
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 23px;
    color: rgb(112, 154, 199);
}
.sidebarList{
    list-style: none;
    padding: 15px;
}
.sidebarListItem{
    padding: 25px;
    cursor: pointer;
    font-size: large;
    font-weight:bold;
    display: flex;
    border-radius: 10px;
}
.sidebarListItem.active,.sidebarListItem:hover{
    background-color: rgb(249, 201, 155);
}