.App {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158);
  border-radius: 20px;
}

.shadow1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shadow2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}