* {
  margin: 0px;
  padding: 0px;
}
.notification {
  width: 100%;
}
.head-notification {
  margin: 20px;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.head-notification h1 {
  color:#250d62;
    font-family: fantasy;
    letter-spacing: 1px;
}
.notify {
  margin-left:  10px;
  margin-right: 10px;
  padding-top: 60px;
}
